" left
noremap j h

" down
noremap k j

" up
noremap l k

" right
noremap ; l

" move to the next character occurrence
noremap ' ;

" redo
noremap U <C-r>

" map black whole register
noremap \ "_

" paste over without overwriting default register
xnoremap p P

" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus

" jump between angle brackets
set matchpairs+=<:>

" smart line joining
set ideajoin
